body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

ul {
    list-style-type: square;
}
