body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #4042a6;
}
.intro {
  font-style: italic;
  color: #4b34a0;
}

#highlight {
  background-color: #5d4abe;
  padding: 10px;
}

ul li {
  color: darkgreen;
}
