body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}
.intro {
  font-style: italic;
  color: #555;
}

#highlight {
  background-color: #343232;
  padding: 10px;
}

ul li {
  color: darkgreen;
}
